.banner{
padding: 0;
margin: 0;
}

p{

    font-size: 25px;

}

.link-jogos{

    color: inherit;
}

.link-barra{

    padding: 0;
    margin: 0;
}

body{

    background-color: gray;
    padding: 0;
    margin: 0;
}

.fundo-conteudo{

    background-color: #e9ecef;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

ul li{

    font-size: 20px;
    display: inline;
    margin-right: 20px;
    
  
}

.footer{
    background-color: #104e8b;
    height: 300px;
    border-top: solid 1px black;
}

.logo-footer{

    margin-bottom: 15px;
}

ul{

    list-style-type: none;
    display: flex;

}

#nav-nave{

background-color: black;
height: 70px;
display: flex;
align-items: center;


}

ul li a {
    display: inline-block;

    /* visual do link */
    color: #333;
    text-decoration: none;
}

ul li a:hover {
    color: rgba(255, 255, 255, 0.521);
    border-bottom:3px solid rgba(0, 0, 255, 0.459);
}

#container-banner{

    padding: 0;
    margin: 0;
    align-items: center;
}