.verde-lima{

    color: #00ff00;
    font-size: 28px;
}

h1{

    font-size: 42px;
    
}

.roxo{

    color: #ff00ff;
}

img{

    width: 300px;

}

.laranja{

    color: orange;
}

.marrom{

    color: brown;
}

a{

    color: violet;
}

ul  {


    background-color: #eeeeee;
}
ul li{

    font-size: 14px;
}

