h1{

    color: red;
    font-size: 32px;
}

h2{

    font-size: 28px;
    color: green;
}

.vermelho{

    color: red;
}

.azul{

    color: blue;
}

.verde{

    color: green;
}

.violeta{

    color: violet;
}

.laranja{

    color: orange;
}

p{

    font-size: 12px;
}

img{

    width: 350px;

}

body{

    font-family: Helvetica;
    text-align: center;
}

ol{
    list-style-position: inside;
}